
@{
    ViewBag.Title = "Lời Cảm Ơn";
}

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Cảm ơn</h2>
                    <span>Sản phẩm bạn đặt đã thành công.</span>
                    <p>Cảm ơn bạn đã mua hàng ủng hộ chúng tôi.</p>
                    <a href="@Url.Action("Index","Home")">
                        Trở về trang chủ
                    </a>
                    <h4>Hóa đơn của khách hàng</h4>
                    <a href="@Url.Action("OrderPayment","ThankYou")">
                        Xem chi tiết đơn hàng
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->
